name: Mercury Asset Builder
on: [push]

jobs:
  patch:
    runs-on: windows-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup UABEA CLI
        run: |
          # Use -L to follow redirects and a fixed version link
          curl -L -o uabea.zip https://github.com/nesrak1/UABEA/releases/download/v7/UABEA-CLI-win-x64.zip
          Expand-Archive -Path uabea.zip -DestinationPath ./uabea -Force

      - name: Apply Chams and No-Smoke
        run: |
          # Use .\ to tell Windows to look in the current folder
          ./uabea/UABEAvalonia.exe applypatch ".\shaders" ".\chams_patch.txt" ".\modded_shaders" -lz4
        
      - name: Upload Modded Shaders
        uses: actions/upload-artifact@v4
        with:
          name: Modded-C-Ops-Bundle
          path: modded_shaders
