name: Mercury Asset Builder
on: [push]

jobs:
  patch:
    runs-on: windows-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup UABEA CLI
        run: |
          curl -L -o uabea.zip https://github.com/nesrak1/UABEA/releases/download/v7/UABEA-CLI-win-x64.zip
          Expand-Archive uabea.zip -DestinationPath ./uabea

      - name: Apply Chams and No-Smoke
        run: |
          # Command format: applypatch [input_file] [patch_script] [output_file] -lz4
          ./uabea/UABEAvalonia.exe applypatch shaders chams_patch.txt modded_shaders -lz4
        
      - name: Upload Modded Shaders
        uses: actions/upload-artifact@v3
        with:
          name: Modded-C-Ops-Bundle
          path: modded_shaders
